<!DOCTYPE html>
<div ng-controller="AddRoomController">
  <p>Add new room</p>

  <form ng-submit="addRoom()">
    <label for="name">Room name</label>:
    <input type="text" name="name" id="name" value="" ng-model="name"><br>
    <label for="capacity">Capacity</label>:
    <input type="number" min=1 name="capacity" id="capacity" value="" ng-model="capacity"><br>
    <label for="building">Building</label>:
    <input type="text" name="building" id="building" value="" id="building" ng-model="building">
    <label for="site">Site</label>:
    <input type="text" name="site" id="site" value="" id="site" ng-model="site"><br>
    <label for="floor">Floor</label>:
    <input type="number" min=1 name="floor" id="floor" value="" ng-model="floor"><br>
    <label for="type">Room type</label>:
    <select name="type" id="type" ng-model="type">
      <option value="MEETING">Meeting room</option>
      <option value="CLASSROOM">Classroom</option>
    </select><br>
    <label for="features">Features</label>:
    <select name="features" id="features" ng-model="features" multiple="true"
            ng-options="feat.id as feat.name for feat in featureOptions">
    </select><br>

    <input type="submit" name="button" value="Add room">
  </form>

  <p><em>Status message: {{message}}</em></p>
</div>
