<!DOCTYPE html>
<div ng-controller="RoomAdminController">
  <p>Add new room</p>

  <form ng-submit="addRoom()">
    <label for="name">Room name</label>:
    <input type="text" name="name" id="name" value="" ng-model="name"><br>
    <label for="form_capacity">Capacity</label>:
    <input type="number" min=1 name="capacity" id="price" value="" ng-model="capacity"><br>

    <input type="submit" name="button" value="Add room">
  </form>

  <p><em>Status message: {{message}}</em></p>
</div>
