<!DOCTYPE html>
<div ng-controller="RoomAdminController">
  <p>Edit room {{roomId}} details</p>

  <form ng-submit="update()">
    <label for="name">Room name</label>:
    <input type="text" name="name" id="name" value="" ng-model="room.name"><br>
    <label for="capacity">Capacity</label>:
    <input type="number" min=1 name="capacity" id="capacity" value="" ng-model="room.capacity"><br>
    <label for="building">Building</label>:
    <input type="text" name="building" id="building" value="" id="building" ng-model="room.building">
    <label for="site">Site</label>:
    <input type="text" name="site" id="site" value="" id="site" ng-model="room.site"><br>
    <label for="floor">Floor</label>:
    <input type="number" min=1 name="floor" id="floor" value="" ng-model="room.floor"><br>
    <label for="type">Room type</label>:
    <select name="type" id="type" ng-model="room.type"
            ng-options="t.id as t.name for t in roomTypeOptions">
    </select><br>
    <label for="features">Features</label>:
    <select name="features" id="features" ng-model="room.features" multiple="true"
            ng-options="feat.id as feat.name for feat in featureOptions">
    </select><br>

    <input type="submit" name="button" value="Update room">
  </form>

  <p><em>Status message: {{message}}</em></p>

</div>
