<!DOCTYPE html>
<div ng-controller="ReservationListController">
  <h2>Reservation list</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Room</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Reserver</th>
        <th>Coffees</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='r in reservations'>
        <td><a href="#/reservation/{{r._id}}">{{r._id}}</a></td>
        <td>{{r.room}}</td>
        <td>{{r.startTime}}</td>
        <td>{{r.lengthOfReservation}}</td>
        <td><a href="mailto:{{r.Email}}">{{r.ReserverName}}</a></td>
        <td>{{r.countOfCoffee}}</td>
      </tr>
    </tbody>
  </table>

  <p><em>Status message: {{message}}</em></p>

</div>
