<!DOCTYPE html>
<div ng-controller="ReservationController">
  <h2>Reservation details</h2>

  <ul>
    <li><b>Room:</b> {{reservation.room}}</li>
    <li><b>Start:</b> {{reservation.startTime}}</li>
    <li><b>Duration:</b> {{reservation.lengthOfReservation}}</li>
    <li><b>Reserver name</b> {{reservation.reserverName}}</li>
    <li><b>EMail:</b> {{reservation.Email}}</li>
    <li><b>Number of coffees:</b> {{reservation.countOfCoffee}}</li>
    <li><b>ID:</b> {{reservation._id}}</li>
  </ul>

  <p><em>Status message: {{message}}</em></p>

</div>
