<!DOCTYPE html>
<div ng-controller="RoomController">
  <h2>Room {{room.name}} ({{roomId}}) details</h2>

  <ul>
    <li><b>Name:</b> {{room.name}}</li>
    <li><b>Capacity:</b> {{room.capacity}}</li>
    <li><b>Floor:</b> {{room.floor}}</li>
    <li><b>Building:</b> {{room.building}}</li>
    <li><b>Site:</b> {{room.site}}</li>
    <li><b>Type:</b> {{roomTypeOptions[room.type]}}</li>
    <li><b>Features:</b>
      <span class="featurebutton" ng-repeat='feature in room.features'>
        {{featureOptions[feature]}}
      </span>
    </li>

    <li><b>_id:</b> {{room._id}}</li>
  </ul>

  <p><a href="#/editroom/{{room.roomId}}">Edit room</a></p>

  <p><em>Status message: {{message}}</em></p>
</div>
<br/>
<div ng-controller="ReservationController">
  <p>Add reservation for room {{roon.name}}</p>

  <form ng-submit="addReservation()">
    <label for="startTime">Start time</label>:
    <input type="time" name="startTime" id="startTime" value="" 
        ng-model="reservation.startTime"><br>
    <label for="endTime">End time</label>:
    <input type="time" name="endTime" id="endTime" value="" 
        ng-model="reservation.endTime"><br>
    <label for="reserver">Reserver</label>:
    <input type="text" name="reserver" id="reserver" value="" 
        ng-model="reservation.reserver.username">
    <label for="description">Description</label>:
    <input type="text" name="description" id="description" value=""
        ng-model="reservation.description"><br>
    <label for="countOfCoffee">Count of coffee</label>:
    <input type="number" name="countOfCoffee" id="countOfCoffee" value=""
        ng-model="reservation.countOfCoffee"><br>
    <br>
    <input type="submit" name="button" value="Add reservation">
  </form>

  <p><em>Status message: {{message}}</em></p>
</div>
