<!DOCTYPE html>
<div ng-controller="RoomController">
  <h2>Room {{room.name}} ({{roomId}}) details</h2>

  <ul>
    <li><b>Name:</b> {{room.name}}</li>
    <li><b>Capacity:</b> {{room.capacity}}</li>
    <li><b>Floor:</b> {{room.floor}}</li>
    <li><b>Building:</b> {{room.building}}</li>
    <li><b>Site:</b> {{room.site}}</li>
    <li><b>Type:</b> {{room.type}}</li>
    <li><b>Features:</b>
      <span class="featurebutton" ng-repeat='feature in room.features'>
        {{featureOptions[feature]}}
      </span>
    </li>

    <li><b>_id:</b> {{room._id}}</li>
  </ul>

  <p><a href="#/editroom/{{room.roomId}}">Edit room</a></p>

  <p><em>Status message: {{message}}</em></p>

</div>
