<!DOCTYPE html>
<div ng-controller="RoomController">
  <div class="jumbotron">
    <h1>{{room.name}} <small>{{roomTypeOptions[room.type]}}, {{room.capacity}} seats</small></h1>
    <h3>Location: {{room.building}}, floor {{room.floor}} ({{room.site}})</h3>
    <h4>Features:
      <span class="label label-feature label-primary" ng-repeat='feature in room.features'>
        {{featureOptions[feature]}}
      </span>
    </h4>
    <p>{{room.description}}</p>
  </div>

  <p><a href="#/editroom/{{room.roomId}}">Edit room details</a></p>

  <h2>Upcoming meetings</h2>
  <reservation-list reservations="reservations" omitroom="true"></reservation-list>
  <h3>Add reservation</h3>

  <form ng-submit="addReservation()">
    <label for="startTime">Start time</label>:
    <input type="text" name="startTime" id="startTime" value=""
        ng-model="reservation.startTime"><br>
    <label for="endTime">End time</label>:
    <input type="text" name="endTime" id="endTime" value=""
        ng-model="reservation.endTime"><br>
    <!--label for="reserver">Reserver</label>:
    <input type="text" name="reserver" id="reserver" value=""
        ng-model="reservation.reserver.username"-->
    <label for="description">Description</label>:
    <input type="text" name="description" id="description" value=""
        ng-model="reservation.description"><br>
    <label for="countOfCoffee">Count of coffee</label>:
    <input type="number" name="countOfCoffee" id="countOfCoffee" value=""
        ng-model="reservation.countOfCoffee"><br>
    <br>
    <input type="submit" name="button" value="Add reservation">
  </form>

  <p><em>Status message: {{message}}</em></p>
</div>
